<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @patient.phone_number %>
</p>

<p>
  <strong>Insurance company:</strong>
  <%= @patient.insurance_company_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @patient.region_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @patient.doctor_id %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<table>

<% @patient.rentals.each do |rental| %>
  <tr><td><%= rental.updated_at %></td>
      <td><%= rental.surgery_date %></td>
      <td><%= rental.discharge_date %></td>
      <td><%= rental.set_up_date %></td>
      <td><%= rental.pick_up_date %></td>
      <td><%= rental.face_sheet %></td>
      <td><%= rental.medicare %></td>
      <td><%= rental.rx %></td>
      <td><%= rental.payment %></td>
      <td><%= rental.left_leg %></td>
      <td><%= rental.right_leg %></td>
      <td><%= rental.diagnosis_id %></td>
      <td><%= rental.notes %></td>
</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
